.chat-container {
  max-width: 600px; 
  margin: 0 auto; 
  padding: 20px;
  background-color: #858585;
  border-radius: 10px;
  margin-top: 6rem;
}

.chat-body {
  height: 400px; 
  overflow-y: auto; 
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; 
}

.message-input {
  display: flex;
  align-items: center;
}